@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,300i,400,400i");

h1{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 200%;
    text-align: center;
}

p{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 100%;
    padding-left: 9%;
	padding-right: 9%;
    line-height: 150%;
    text-align: center;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    letter-spacing: 0.125em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 0.75rem;
    max-width: 20rem;
    height: 3.75em;
    line-height: 3.75em;
    border-radius: 3.75em;
    padding: 0 2.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left:22.5%;
    margin-top:2%;
    margin-bottom:1%;
}

    input[type="submit"].icon:before,
    input[type="reset"].icon:before,
    input[type="button"].icon:before,
    button.icon:before,
    .button.icon:before {
        margin-right: 0.5rem;
    }

    input[type="submit"].fit,
    input[type="reset"].fit,
    input[type="button"].fit,
    button.fit,
    .button.fit {
        width: 100%;
    }

    input[type="submit"].small,
    input[type="reset"].small,
    input[type="button"].small,
    button.small,
    .button.small {
        font-size: 0.6rem;
        height: 3.325em;
        line-height: 3.325em;
        border-radius: 3.325em;
        padding: 0 2em;
    }

    input[type="submit"].large,
    input[type="reset"].large,
    input[type="button"].large,
    button.large,
    .button.large {
        font-size: 0.8rem;
        height: 4em;
        line-height: 4em;
        border-radius: 4em;
        padding: 0 3em;
    }

    input[type="submit"].wide,
    input[type="reset"].wide,
    input[type="button"].wide,
    button.wide,
    .button.wide {
        min-width: 40%;
    }

    input[type="submit"].disabled, input[type="submit"]:disabled,
    input[type="reset"].disabled,
    input[type="reset"]:disabled,
    input[type="button"].disabled,
    input[type="button"]:disabled,
    button.disabled,
    button:disabled,
    .button.disabled,
    .button:disabled {
        pointer-events: none;
        opacity: 0.25;
    }

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    color: #000000 !important;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    button:hover,
    .button:hover {
        box-shadow: inset 0 0 0 1px #47D3E5;
        color: #47D3E5 !important;
    }

    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active,
    button:active,
    .button:active {
        background-color: rgba(71, 211, 229, 0.2);
        box-shadow: inset 0 0 0 1px #47D3E5;
        color: #47D3E5 !important;
    }

    input[type="submit"].primary,
    input[type="reset"].primary,
    input[type="button"].primary,
    button.primary,
    .button.primary {
        background-color: #000000;
        box-shadow: none;
        color: #ffffff !important;
    }

        input[type="submit"].primary:hover,
        input[type="reset"].primary:hover,
        input[type="button"].primary:hover,
        button.primary:hover,
        .button.primary:hover {
            background-color: #47D3E5;
        }

        input[type="submit"].primary:active,
        input[type="reset"].primary:active,
        input[type="button"].primary:active,
        button.primary:active,
        .button.primary:active {
            background-color: #1ebdd1;
        }

.homepage{
    width:100%;
    height:100%;
    position: relative;
}

.backgroundimg{
    width:100%;
    height:100%;
    position: relative;
}

.homepagediv{
    margin-left: 57.5%;
    margin-right: 7.5%;
    margin-top: 10%;
    margin-bottom: 15%; 
    width:35%;
    height:60%;
    border-radius: 5%;
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    align-items: center;
    
}

.avatar{
    border-radius:100%;
    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-right: 37.5%;
    margin-top:5%;
}